

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100%; /* Set to 100% instead of 100vh to avoid issues with browser UI */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar if any */
}

.logout-button {
    /* width: 100%; */
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #e90d1f;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.logout-button:hover {
    background-color: #db2946;
}

.admin-button {
    /* width: 100%; */
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: none;
}

.admin-button:hover {
    background-color: #4cae4c;
}

.week-checker {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: right;
}

/* Style for completed week */
.week-complete {
    color: #4CAF50; /* Green color for checkmark */
    font-weight: bold;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1em;
    background-color: #f8f8f8;
    /* width: 100%; */
}

.header img {
    height: 75px;
    /* Adjust the size of your logo */
}

.header button {
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.body-content img {
    height: 400px;
    /* Adjust the size of your logo */
}

.body-content .login-index button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.body-content .login-index button:hover {
    background-color: #4cae4c;
}

.footer {
    background-color: #f8f8f8;
    padding: 1em;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.login-form {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.login .form-group {
    margin-bottom: 1rem;
}

.login .form-group label {
    display: block;
    margin-bottom: .5rem;
}

.login .form-group input {
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.login .form-group button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login .form-group button:hover {
    background-color: #4cae4c;
}

.header .form-group button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.header .form-group button:hover {
    background-color: #4cae4c;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px;
    margin: auto;
}

.card-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.card-form {
    display: flex;
    flex-direction: column;
}

.card-form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.card-form .form-group {
    display: flex;
    flex-direction: column;
}

.card .form-group button {
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0.3rem auto;
    margin-bottom: 0;
}
.card-form .form-group select {
    margin: 0.3rem 0;
    flex-grow: 1;
    padding: 0.3rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
}

.summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* width: 400px; */
    padding-top: 20px;
    box-sizing: border-box;
}

.boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* This will center the boxes */
    gap: 10px; /* This adds space between the boxes */
}

.summary-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    width: 200px auto;
}

.button-container {
    padding-bottom: 10px;
}

.button-container button {
    width: 100%;
    padding: 0.3rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: none;
}

.summary-box .content-item {
    text-align: left;
    margin-bottom: 1px;
}

.summary-box .content-item button {
    width: 100%;
    padding: 0.3rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s;
}


.admin .form-group {
    margin-bottom: 1rem;
}

.admin .form-group label {
    display: block;
    margin-bottom: .5rem;
}

.admin .form-group input {
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.admin .form-group button {
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.admin .form-group button:hover {
    background-color: #4cae4c;
}

.new-user-form {
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-user-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.new-user-form .form-group {
    margin-bottom: 1rem;
}

.new-user-form .form-group label {
    display: block;
    margin-bottom: .5rem;
}

.new-user-form .form-group input {
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.new-user-form .form-group button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.new-user-form .form-group button:hover {
    background-color: #4cae4c;
} 

.users-list button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.users-list button:hover {
    background-color: #e90d1f;
}

.users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-list table {
    width: 100%;
    border-collapse: collapse;
}

.users-list th,
.users-list td {
    padding: 8px;
    border: 1px solid #ddd;
}

.users-list th {
    background-color: #f2f2f2;
}

.users-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.users-list tr:hover {
    background-color: #f5f5f5;
}


.forgot-password-form {
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forgot-password-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.forgot-password-form .form-group {
    margin-bottom: 1rem;
}

.forgot-password-form .form-group label {
    display: block;
    margin-bottom: .5rem;
}

.forgot-password-form .form-group input {
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.forgot-password-form .form-group button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.forgot-password-form .form-group button:hover {
    background-color: #4cae4c;
} 

.code-check-form {
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.code-check-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.code-check-form .form-group {
    margin-bottom: 1rem;
}

.code-check-form .form-group label {
    display: block;
    margin-bottom: .5rem;
}

.code-check-form .form-group input {
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.code-check-form .form-group button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.code-check-form .form-group button:hover {
    background-color: #4cae4c;
}

.new-password-form {
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-password-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.new-password-form .form-group {
    margin-bottom: 1rem;
}

.new-password-form .form-group label {
    display: block;
    margin-bottom: .5rem;
}

.new-password-form .form-group input {
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.new-password-form .form-group button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.new-password-form .form-group button:hover {
    background-color: #4cae4c;
}

.notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000; /* Garante que a notificação esteja sempre visível */
}

.notification-box {
    color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: opacity 0.3s, bottom 0.3s;
}

/* Estilo para notificações de sucesso */
.success {
    background-color: #5cb85c; /* Match the rest of the project */
}

/* Estilo para notificações de erro */
.error {
    background-color: #d9534f; /* Match the rest of the project */
}

.notification-box h4 {
    margin: 0 0 5px 0;
}

.notification-box p {
    margin: 0;
    font-size: 14px;
}

.close-btn {
    float: right;
    cursor: pointer;
    opacity: 0.6;
}

.close-btn:hover {
    opacity: 1;
}

.new-dish-form {
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-dish-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.new-dish-form .form-group {
    margin-bottom: 1rem;
}

.new-dish-form .form-group label {
    display: block;
    margin-bottom: .5rem;
}

.new-dish-form .form-group input,
.new-dish-form .form-group select {
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.new-dish-form .form-group button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.new-dish-form .form-group button:hover {
    background-color: #4cae4c;
}


@media (max-width: 768px) {
    .card {
        max-width: 80%;
        padding: 10px;
    }
}
