<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/favicon.ico">
    <script src="/static/js/index.js"></script>
</head>

<body>

    <header class="header">
        <a href="/">
            <img src="/static/images/logo2.png" alt="Logo" id="headerLogo">
        </a>
    </header>

    <div class="body-content">
        <div id="card-container" class="card-container">
            <div class="card">
                <form class="card-form">
                    <label class="card-title">Monte seu Menu</label>
                    <div class="form-group">
                        <select id="week-day" name="week-day" required>
                            <option value="" disabled selected>Dia da semana</option>
                            <option value="mon">Segunda-feira</option>
                            <option value="tue">Terça-feira</option>
                            <option value="wed">Quarta-feira</option>
                            <option value="thu">Quinta-feira</option>
                            <option value="fri">Sexta-feira</option>
                        </select>
                        <select id="main-dish">
                            <option value="" disabled selected>Prato Principal</option>
                            <!-- Options here -->
                        </select>
                        <select id="salad">
                            <option value="" disabled selected>Salada</option>
                            <!-- Options here -->
                        </select>
                        <select id="side-dish">
                            <option value="" disabled selected>Guarnição</option>
                            <!-- Options here -->
                        </select>
                        <select id="accompaniment">
                            <option value="" disabled selected>Acompanhamento</option>
                            <!-- Options here -->
                        </select>
                        <button type="button" id="add-menu-button">Adicionar ao Menu</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="summary-container" class="summary-container">
            <div class="button-container">
                <button type="button" id="submit-menu-button">Finalizar</button>
            </div>
            <div id="boxes-container" class="boxes-container">
                <!-- Stylized boxes will be added here -->
            </div>
        </div>
    </div>

    <footer class="footer">
        Contato: <a href="mailto:email@example.com">email@example.com</a> | <a
            href="https://api.whatsapp.com/send/?phone=5521975445554&text=Cadastro&type=phone_number&app_absent=0">+123
            456 7890</a>
    </footer>

</body>

</html>