<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/favicon.ico">
    <script src="/static/js/menu.js"></script>
</head>

<body>

    <header class="header">
        <img src="/static/images/logo2.png" alt="Logo" id="headerLogo">
        <button type="button" id="admin-button" class="admin-button">Administração</button>
        <button type="button" id="logout-button" class="logout-button">Sair da conta</button>
        
    </header>
    <div id="notification-container" class="notification-container"></div>
    <div class="week-checker" id="week-checker-sidebar">
        <!-- Week completion status will be updated here by JavaScript -->
        <div id="week-1-complete">Semana 1:</div>
        <div id="week-2-complete">Semana 2:</div>
        <div id="week-3-complete">Semana 3:</div>
        <div id="week-4-complete">Semana 4:</div>
    </div>

    <div class="body-content">
        <div id="week-selector-container" class="card-container">
            <div class="card">
                <form class="card-form">
                    <label class="card-title">Selecione a Semana</label>
                    <div class="form-group">
                        <select id="week-selector" name="week-selector" required>
                            <option value="" disabled selected>Semana</option>
                            <option value="1">Semana 1</option>
                            <option value="2">Semana 2</option>
                            <option value="3">Semana 3</option>
                            <option value="4">Semana 4</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        <div id="card-container" class="card-container">
            <div class="card">
                <form class="card-form">
                    <label class="card-title">Monte seu Menu</label>
                    <div class="form-group">
                        <select id="week-day" name="week-day" required>
                            <option value="" disabled selected>Dia da semana</option>
                            <option value="mon">Segunda-feira</option>
                            <option value="tue">Terça-feira</option>
                            <option value="wed">Quarta-feira</option>
                            <option value="thu">Quinta-feira</option>
                            <option value="fri">Sexta-feira</option>
                        </select>
                        <select id="main-dish">
                            <option value="" disabled selected>Prato Principal</option>
                            <!-- Options here -->
                        </select>
                        <select id="salad">
                            <option value="" disabled selected>Salada</option>
                            <!-- Options here -->
                        </select>
                        <select id="side-dish">
                            <option value="" disabled selected>Guarnição</option>
                            <!-- Options here -->
                        </select>
                        <select id="accompaniment">
                            <option value="" disabled selected>Acompanhamento</option>
                            <!-- Options here -->
                        </select>
                        <button title="Clique aqui para adicionar as escolhas do dia na semana" type="button" id="add-week-button">Adicionar à Semana</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="summary-container" class="summary-container" >
            <div id="boxes-container" class="boxes-container">
                <!-- Stylized boxes will be added here -->
            </div>
            <div class="button-container">
                <label class="card-title" id="menu-button-label" style="font-size: smaller; display: none;">Clique aqui para finalizar o cardápio a semana</label>
                <button title="Clique aqui para adicionar a semana ao cardápio" type="button" id="add-menu-button">Finalizar Semana</button>
            </div>
        </div>
        <div id="end-request" class="card-container">
            <div class="card">
                <form class="card-form">
                    <label class="card-title" style="font-size: smaller;">Assim que finalizar as semanas, clique aqui para receber o cardápio completo por e-mail</label>
                    <div class="form-group">
                        <button title="Clique aqui para receber o cardápio por email" type="button" id="finish-button">Finalizar Cardápio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        Contato: <a href="mailto:suporte@almocosemestresse.com.br">suporte@almocosemestresse.com.br</a> | <a
            href="https://api.whatsapp.com/send/?phone=5531972394438&app_absent=0">+55 31 97239-4438</a>
    </footer>

</body>

</html>