<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/favicon.ico">
    <script src="/static/js/login.js"></script>
</head>

<body>
    <header class="header">
        <img src="/static/images/logo2.png" alt="Logo" id="headerLogo">
        <div class="form-group">
            <button onclick="location.href='login'">Login</button>
        </div>
    </header>
    <div id="notification-container" class="notification-container"></div>
    <div class="body-content">
        <div class="forgot-password">
            <form id="forgot-password-form" action="/auth/send_password_reset" method="post"
                enctype="application/x-www-form-urlencoded" class="forgot-password-form"
                onsubmit="handleForgotPassword(event)">
                <h2>Esqueceu a Senha</h2>
                <div class="form-group">
                    <input type="email" id="forgotEmail" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <button type="submit">Enviar</button>
                </div>
                <div id="forgotPasswordSuccess" style="color: green; display: none;">Email sent successfully</div>
                <div id="forgotPasswordError" style="color: red; display: none;">Error sending email</div>
            </form>
        </div>
        <div class="code-check">
            <form id="code-check-form" action="/auth/verify_code" method="get"
                enctype="application/x-www-form-urlencoded" class="code-check-form" onsubmit="handleCodeCheck(event)"
                style="display: none;">
                <h2>Verificar Código</h2>
                <div class="form-group">
                    <input type="text" id="code" name="code" placeholder="Código" required>
                </div>
                <div class="form-group">
                    <button type="submit">Verificar</button>
                </div>
                <div id="codeCheckSuccess" style="color: green; display: none;">Code verified successfully</div>
                <div id="codeCheckError" style="color: red; display: none;">Error verifying code</div>
            </form>
        </div>
        <div class="new-password">
            <form id="new-password-form" action="/auth/reset_password" method="post"
                enctype="application/x-www-form-urlencoded" class="new-password-form" onsubmit="handleNewPassword(event)"
                style="display: none;">
                <h2>Resetar Senha</h2>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Nova Senha" required>
                </div>
                <div class="form-group">
                    <input type="password" id="passwordConfirm" name="passwordConfirm"
                        placeholder="Confirmar Nova Senha" required>
                </div>
                <div class="form-group">
                    <button type="submit">Resetar Senha</button>
                </div>
                <div id="passwordResetSuccess" style="color: green; display: none;">Password reset successfully</div>
                <div id="passwordResetError" style="color: red; display: none;">Error resetting password</div>
            </form>
        </div>
    </div>
    <footer class="footer">
        Contato: <a href="mailto:email@example.com">email@example.com</a> | <a
            href="https://api.whatsapp.com/send/?phone=5521975445554&text=Cadastro&type=phone_number&app_absent=0">+123
            456 7890</a>
    </footer>

</body>

</html>